# Node modules
node_modules/

# Python virtual env
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Uploaded files
uploads/

# Vector database
vectorstore/
faiss_index/

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
node_modules/
